*{
    
}

@font-face {
    font-family:"font1";
    src: url("~/Content/fonts/font1.TTF");
}

#harry{
    font-family:"font1";
    background-color:#ffffff00;
}

.navbar {
    background-color:#ffffff00;
}


