@{
    ViewBag.Title = "Home Page";
}

<div class="fundo">
    <img src="~/Controllers/img/fundo.png">
</div>

<div class="tudo">
<div class="form-group">
    <div class="btnhome1">
        <input type="submit" value="DESCUBRA QUAL FÃ VOCÊ É!" class="btnhome" />
    </div>
</div>

<div class="jumbotron">
    <img src="~/Controllers/img/homeimg1.png">
</div>

<div class="texthome">

    <p>O mundo de Harry ensinou mais que magia, muito mais além, 
    mostrou como uma escola pode ensinar para a vida. Ensinou o 
    amor e a amizade, ensinou a liberdade e a quebra do preconceito 
    como uma profecia que deve ser ouvida e quebrada, 
    ensinou o que é imortal e como perder essa mesma imortalidade.</p>
</div>

<div class="imghome1">
    <img src="~/Controllers/img/imghome1.png">
</div>

    <div class="hist">
        <h2>CONHEÇA A HISTÓRIA</h2>    
        <img src="~/Controllers/img/varinhahome.png">
        <p>
            ㅤㅤㅤHarry James Potter (Godric's Hollow, 31 de julho de 1980) é um personagem
            fictício protagonista da série homônima de livros (e das respectivas adaptações
            para o cinema) da autora britânica J. K. Rowling. Na tradução brasileira,
            recebeu o nome completo de Harry Tiago Potter.

            Nascido em 31 de julho de 1980, Harry é um bruxo, filho único de James
            Potter e Lílian Evans Potter, considerado um dos mais famosos feiticeiros
            dos tempos modernos. Ele também foi um dos alunos mais famosos da Escola
            de Magia e Bruxaria de Hogwarts de seu tempo. É conhecido no mundo bruxo
            por ser o único sobrevivente da Maldição da Morte (Avada Kedavra), pois
            Lord Voldemort tentou assassiná-lo ainda recém-nascido.<br>

            ㅤㅤㅤAo fim da Primeira Guerra Bruxa, Harry foi morar com seus parentes trouxas,
            os Dursley, e viveu maltratado e incompreendido, sem qualquer fonte de
            conexão com o mundo bruxo até os 11 anos, quando Rúbeo Hagrid lhe contou
            que seus pais e ele eram bruxos, e ele passou a frequentar a Escola de
            Magia e Bruxaria de Hogwarts. A característica física mais notável de
            Harry é a cicatriz em forma de raio em sua testa, que lhe foi dada ao
            receber a maldição que deveria tê-lo matado.<br>

            ㅤㅤㅤHarry herdou muitos traços de seus pais, como o tipo físico magro, os
            cabelos pretos perpetuamente despenteados de seu pai e os olhos
            extremamente verdes de sua mãe.
        </p>
    </div>

    <div class="personagens">
        <h2>PRINCIPAIS PERSONAGENS</h2>
        <img src="~/Controllers/img/pacos.png">
    </div>

    <div class="personagenimg">
        <img src="~/Controllers/img/personagens.png">
    </div>

</div>

